.container {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    width: 90%;
    justify-content: space-around;
}

.container:hover>*:not(:hover) {
    opacity: 0.4;
}

.box {
    border-radius: 5%;
    background-color: blueviolet;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 10px;
    transition: opacity 0.6s ease;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

div {
    border-color: aliceblue;

}