body {
    display: flex;
    height: 100vh;
    background-color: #c7db1a;
    margin: 0;
    flex-wrap: wrap;
    gap: 5px;

}

.glowy-button {
    background: #222;
    border: 2px solid #ff005a;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    mix-blend-mode: screen;
}

.glowy-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 0, 90, 0.75), transparent);
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
}

.glowy-button:hover::before {
    filter: blur(20px);
}

div{
    padding: 5px;
    background-color: #ff005a;
    font-size: xx-large;
    font-weight: 400;
    color: #c3bfbf;
    text-transform:uppercase;
}
.normal{
    mix-blend-mode: normal;
}
.multiply{
    mix-blend-mode: multiply;
}

.screen{
    mix-blend-mode: screen;
}

.overlay{
    mix-blend-mode: overlay;
}

.darken{
    mix-blend-mode: darken;
}

.lighten{
    mix-blend-mode: lighten;
}

.color-dodge{
    mix-blend-mode: color-dodge;
}

.color-burn{
    mix-blend-mode: color-burn;
}

.hard-light{
    mix-blend-mode: hard-light;
}

.soft-light{
    mix-blend-mode: soft-light;
}

.difference{
    mix-blend-mode: difference;
}

.exclusion{
    mix-blend-mode: exclusion;
}

.hue{
    mix-blend-mode: hue;
}

.saturation{
    mix-blend-mode: saturation;
}

.color{
    mix-blend-mode: color;
}

.luminosity{
    mix-blend-mode: luminosity;
}

.plus-darker{
    mix-blend-mode: plus-darker;
}

.plus-lighter{
    mix-blend-mode: plus-lighter;
}