/* Colores de Bob Esponja:
URL(https://medium.com/krrrunch/bob-esponja-y-patricio-estrella-tienen-su-propio-color-pantone-a82f631e4139)
Cuerpo: f6e74f
Líneas: 0c0c0c 
Ojos: 43bfec 
Sonrojo: d55e3a 
Manchas: b8b919

*/


.cuerpo-bob {
    /* Margin para centrar el div*/
    margin: auto;

    /* Tamaño del cuerpo*/
    width: 30rem;
    height: 40rem;

    /* Color de fondo de Bob Esponja*/
    background-color: #f6e74f;
}

.mancha {

    /* Tamaño del cuerpo*/
    border-radius: 50%;

    /* Color de manchas de Bob Esponja*/
    background-color: #b8b919;
}

.grande {
    /* Tamaño de la mancha*/
    width: 4.5rem;
    height: 2rem;

    border-radius: 110px 70px / 200px 100px;

}

.chico {
    /* Tamaño de la mancha*/
    width: 1.5rem;
    height: .8rem;

    border-radius: 64px 96px 128px 32px;

    margin-left: 1.5rem;
    margin-top: .3rem;
}

.manchas{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}